.container{
    width: 500px;
    height: 500px;
    background-color: navajowhite;
    transition: width 2s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 500px;
    margin-top: 100px;
}
#my_img{
    height: 200px;
    width: 200px;
}
#my_img:hover{
    height: 300px;
    width: 300px;
    transition: width 4s;
    background-color: red;
}
#container1{
    display: flex;
    justify-content: center;
}
#divOne{
    height: 200px;
    width: 200px;
    background-color: rgb(64, 0, 255);
    margin: 10px;
    visibility: visible;
}

#divTwo:hover{
    transform: rotate(145deg);
}

#divTwo{
    height: 200px;
    width: 200px;
    background-color: rgb(215, 13, 13);
    margin: 10px;
}


.parent{
    display: grid;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 50px 50px 50px;
    gap:10px;
}
.item{
    background-color: pink;
    border: 2px solid red;
    text-align: center;
    border-radius: 15px;
}

.one{
    grid-column: 1/4;

}
.three{
    grid-column: 3/4;
}

.four{
    grid-column: 1/4;
}